body {
  background-color: #11111d;
  margin: 10em 0;
  color: #17b06b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
* {
    font-family: 'Courier New', Courier, monospace;
}
h1, h2, h3, h4 {
    /* text-align: center; */
    color: #17b06b;
    /* text-shadow: -2px 0 #17b06b, 0 2px #17b06b, 2px 0 #17b06b, 0 -2px #17b06b; */
}
h1 {
    font-size: 200px;
    /* margin-top: 10%; */
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 3em;
}
h4{
    font-size: 2em;
    /* text-shadow: -1px 0 #17b06b, 0 1px #17b06b, 1px 0 #17b06b, 0 -1px #17b06b;
    margin-top: -60px; */
}
h5 {
    font-size: 1em;
}
h3 > span {
    font-size: 0.5em;
}
p.turn {
    font-weight: bolder;
}
form{
    text-align: center;
    margin-top: -80px;
    color: #17b06b;
}
form > p {
    font-size: 1rem;
}
form > p >span {
    font-size: 1.5rem;
}
input[type=text] {
    color: #17b06b;
    font-size: 20px;
    margin-bottom: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent;
    width: 30%;
    border: 0.1px solid #17b06b;
}
input[type=text]:focus{
    box-shadow: 0 2px 4px 0 #17b06b86, 0 2px 10px 0 #17b06b86;
}

button {
    background-color: transparent;
    color: #17b06b;
    border: 1px solid #17b06b;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 3px 3px 0 #43cb8e,2px 2px 0 #43cb8e,1px 1px 0 #43cb8e;
}
button.small {
    font-size: 10px;
}
button.medium {
    font-size: 18px;
}
button.large{
    font-size: 24px;
}
button:hover{
    background-color: #17b06b;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.container > div {
    text-align: center;
    /* background: #eee; */
}
.gamesub {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
    /* background: #43cb8e; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
}
.gamesub > div {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 8.5em);
    grid-gap: 1em;
    grid-auto-rows: 8.5em;
}
.game {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 90% 10%;
}
.turn {
    grid-row: 2;
    grid-column: 2/3;
}

button.tic {
    color: #11111d;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    font-size: 7em;
    font-weight: bolder;
    box-shadow: 0px 0px 0 #43cb8e,0px 0px 0 #43cb8e,0px 0px 0 #43cb8e;
}
.tic:hover{
    color: white;
}
.tic .whenHover {display: none;}
.tic:hover .whenHover {display: inline;}
.tic:hover .whenNotHover {display: none;}
/* .tic:disabled:hover{
    background-color: #11111d;
    cursor: default;
    color: #17b06b;
} */
button.tac {
    background-color: #11111d;
    cursor: default;
    color: #17b06b;
    transition: all ease-in-out 0.2s;
    font-size: 7em;
    font-weight: bolder;
    box-shadow: 0px 0px 0 #43cb8e,0px 0px 0 #43cb8e,0px 0px 0 #43cb8e;
}
.tac .whenHover {display: none;}

button.toe {
    background-color: #11111d;
    cursor: default;
    color: #17b06b;
    transition: all ease-in-out 0.2s;
    font-size: 7em;
    font-weight: bolder;
    box-shadow: 0px 0px 0 #43cb8e,0px 0px 0 #43cb8e,0px 0px 0 #43cb8e;
}
.toe .whenHover {display: none;}
p {font-size: 1.5em;}
p.waiting {
    font-size: 2em;
}
.link {
    color: #17b06b;
    font-size: 2em;
}